/************************** LOGIN PAGE **************************/
/*						  										*/
/****************************************************************/
/**************************** VARIABLES *************************/

/* PALETTE */
$palette-light-grey: #d8d8d8;
$palette-darker-grey: #181915;

/* BACKGROUNDS */
$clr-main-bk-form: $palette-darker-grey;
$clr-main-bk-border: $palette-light-grey;

/* FONT COLOUR */

/************************** GRID TEMPLATE ***********************/
/*						IF NOT USING DEFAULT					*/
/****************************************************************/
/************************** EACH SECTIONS ***********************/
#headerGrid { grid-template-rows: auto; }

#mainGrid {

	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
}
#loginGrid { 

	grid-column: 2/3;
	padding: 20vh 0px;

}

/************************** MAIN CONTENT ************************/
/*						  										*/
/****************************************************************/

#loginContent {

	/* COLOURS */
	background-color: $clr-main-bk-form;

	/* FONTS */
	/* STYLE */
	border: 2px solid $clr-main-bk-border;
	border-radius: 30px;
	padding: 3vh;
}

/***************************** BUTTONS **************************/

button {

	/* COLOURS */
	/* FONTS */
	/* STYLE */
	padding: .3vh 2vw;
}