/************************** LOGIN PAGE **************************/

/*********  VARIABLES  *********/

/* PALETTE */
$palette-light-grey: #d8d8d8;
$palette-darker-grey: #181915;
$palette-darker-pink: #ff284d;

/* BACKGROUNDS */
$clr-main-bk-form: $palette-darker-grey;
$clr-main-bk-border: $palette-light-grey;

/********* MAIN SECTIONS GRID - IF NOT USING DEFAULT *********/
/* SETTING UP THE GRID OF MAIN SECTIONS - IF NOT USING DEFAULT */


/* MAIN SECTIONS */
#headerGrid { grid-template-rows: auto; }
#mainGrid {

	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
}

/* MAIN CONTENT */
#loginGrid { 

	grid-column: 2/3;
	padding: 20vh 0px;

}

/********* MAIN CONTENT *********/

#loginContent {

	/* COLOURS */
	background-color: $clr-main-bk-form;

	/* FONTS */
	/* STYLE */
	border: 2px solid $clr-main-bk-border;
	border-radius: 30px;
	padding: 3vh;
}






